body{
    margin:0;
}
.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-around;
}
.light {
    width:5vw;
    height: 5vw;
    border-radius: 50%;
    background-color: blue;
    transition: background-color 0.25s;
    margin:0.5vw;
}

#lightsWrapper {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    height: 80vh;
    width: 100%;
}

.btn{
    background-color: grey;
    width:100px;
    margin:10px;
    text-align: center;
    cursor:grab;
    height: 10vh;
    padding: 5px;
    vertical-align: middle;
}
input {
    height: 10vh;
}
.btnWrapper {
    display:flex;
    height: 20vh;
    align-items: center;
}

.colorBlack {
    background-color: black;
}

.colorGreen {
    background-color: green;
}

.colorOrange{
    background-color: orange;
}

.colorRed{
    background-color: red;
}